@use "../var.scss" as var;

@mixin main_page {
    display: flex !important;
    margin-bottom: 80px !important;
}

@mixin page {
    margin-left: 2% !important;
    width: 96% !important;
    margin-right: 2% !important;
    margin-top: 15px !important;
}

@mixin heading_name {
    content: "\2022" !important;
    font-size: var.$page_headingfont_size !important;
    margin-right: 10px !important;
    color: var.$page_headingfont_color !important;
}

@mixin heading_name_text {
    color: var.$page_heading_font_color !important;
    font-size: var.$page_heading_font_size !important;
    margin-left: 20px !important;
}

@mixin page_size {
    height: 100% !important;
    background-color: var(--page-color) !important;
    border-radius: 10px !important;
    box-shadow: var.$page_box_shadow_color !important;
    padding: 25px !important;

    .upload-btn {
        background-color: #007bff;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
            background-color: #0056b3;
        }
    }

    .image-preview-container {
        width: 170px;
        height: 170px;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px !important;
        }
    }
}

@mixin page_header {
    display: flex !important;
    justify-content: flex-end !important;
    margin-bottom: 20px !important;

    input {
        margin-right: 15px !important;
        display: block;
        height: 44px !important;
        padding: 8px;
        color: var(--text-color) !important;
        background-color: var(--page-color) !important;
        border: var.$form_input_border_color !important;
        border-radius: 5px;
        outline: none;

        &:focus,
        &:hover {
            box-shadow: var.$box-shadow !important;
        }

        &::placeholder {
            color: var(--text-color) !important;
        }
    }
}

@mixin add_new_btn {
    padding: var.$add_btn_padding !important;
    background-color: var.$add_btn_bgcolor !important;
    color: var.$add_btn_text_color !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: var.$add_btn_font_size !important;

    &:hover {
        background-color: var.$add_btn_hover_bgcolor !important;
    }
}

@mixin alert {
    padding: 10px !important;
    margin: 10px 0 !important;
    border-radius: 5px !important;
    color: #155724 !important;
    background-color: #d4edda !important;
    border: 1px solid #c3e6cb !important;
    z-index: 1000 !important;
}