$primary_text_color: green;

$box-shadow: 0 0 0 0.25rem #8AB17D;
$login_btn-color: #0000FF;
$login_btn-hover-color: #007FFF;
$font-family: 'Poppins', sans-serif;
$hover_color: #90EE90;
$text_hover_color: green;

$table_heading_color: #228B22;
$table_scrolling_bar_color: #228B22;
$table_heading_font_color: black;
$table_heading_font_weight: 650;
$table_td_font_color: black;
$table_td_font_weight: 500;
$table_td_tdclick: green;

$table_edit_icon_color: green;
$table_edit_icon_bgcolor: green;
$table_edit_icon_hovercolor: white;
$table_delete_icon_color: red;
$table_delete_icon_bgcolor: red;
$table_delte_icon_hovercolor: white;

$page_headingfont_size: 18px;
$page_headingfont_color: gray;
$page_heading_font_size: 18px;
$page_heading_font_color: gray;
$page_color: #f5f5f5;
$page_box_shadow_color: 0 4px 8px rgba(0, 0, 0, 0.1);

$add_btn_padding: 10px 20px;
$add_btn_bgcolor: #007bff;
$add_btn_text_color: white;
$add_btn_hover_bgcolor: #0056b3;
$add_btn_font_size: 16px;

$form_label_weight: bold;
$form_label_bottom: 5px;
$form_input_border_color: 1px solid #ccc;

$save_btn_color: #4CAF50;
$save_btn_hover_bgcolor: #50C878;
$cancel_btn_color: gray;
$cancel_btn_hover_bgcolor: #A9A9A9;

$primary_color: #8AB17D;
$secondary_color: #F5F5DC;
$black_color: #000;


$light-page_color: #f5f5f5;
$light-text: black;
$light-background_color: white;
$light-arrow-color: #EFEFEF;
$light-table-tr-color: #f5f5f5;
$light-cancel-btn-color: gray;
$light-pagination-color: white;
$light-kotcard-color: #fdfdfd;

$dark-text: #ffffff;
$dark-background: #333333;
$dark-body-background: #1E1E1E;
$dark-arrow-color: grey;
$dark-page_color: grey;
$dark-table-tr-color: #A9A9A9;
$dark-cancel-btn-color: #899499;
$dark-pagination-color: #C0C0C0;
$dark-kotcard-color: #a8a8a8;

:root {
    --background-color: #{$light-background_color};
    --text-color: #{$light-text};
    --body-background-color: #{$light-background_color};
    --arrow-color:#{$light-arrow-color};
    --page-color:#{$light-page_color};
    --table-tr-color:#{$light-table-tr-color};
    --form-input-color:#{$light-background_color};
    --cancel-btn-color:#{$light-cancel-btn-color};
    --pagination-color:#{$light-pagination-color};
    --border-color: grey !important;
    --kotordercard-color:#{$light-kotcard-color};
}

[data-theme='dark'] {
    --background-color: #{$dark-background};
    --text-color: #{$dark-text};
    --body-background-color: #{$dark-body-background};
    --arrow-color:#{$dark-arrow-color};
    --page-color:#{$dark-page_color};
    --table-tr-color:#{$dark-table-tr-color};
    --form-input-color:#{$dark-background};
    --cancel-btn-color:#{$dark-cancel-btn-color};
    --pagination-color:#{$dark-pagination-color};
    --border-color: white;
    --kotordercard-color:#{$dark-kotcard-color};
}